include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
// spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY"

animations {
    off
}
// Disable the hot corners.
gestures {
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "Vimix-cursors"
    xcursor-size 14
}
